*{
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    color: #F00;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase; 
}
.navbar{
    margin-top: 25.5px;
    margin-bottom: 25.5px;
}
.navbar-home{
    margin-left: 330px;
    margin-right: 72px;
    }
.navbar-photoapp{
    margin-right: 72px;
}    
.navbar-design{
    margin-right: 72px;
}
.navbar-download{
    margin-right: 330px;
}
a:visited{
    color: #F00;
    }
a{
    text-decoration: none;
}
.img-camera{
    margin: auto;
    height: auto;
    width: 100%;
    
}
.title{
    text-align: center;
    margin-top: 49px;
    color: #373737;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}
p{
    color: #373737;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
letter-spacing: 2.4px;
}
.par-1 {
   
    margin-top: 38px;
    width: 1145px;
    height: 132px;
    padding-left: 67.5px;
    padding-right: 67.5px;
    
}
.par-2 {
   
    margin-top: 28px;
    width: 1145px;
    height: 132px;
    padding-left: 67.5px;
    padding-right: 67.5px;
    
}
.button{
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    background-color: #F00;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    text-align: center;
    border-color: #F00;
    border: solid;
    margin-top: 145px;
    margin-left: 544.5px;
    margin-right: 544.5px;
    margin-bottom: 42px;
}
.footer{
    color: #373737;
font-family: Montserrat;
font-size: 16px;

font-weight: 700;

letter-spacing: 2.4px;
margin: 82px 105px 29px 713px;
}
